<div class="profile-container">
  <%= turbo_frame_tag :user_profile_show_and_edit do %>
    <div class="profile-fields">
      <fieldset>
        <p>
          <label for="username">Username</label>
          <%= current_user.username %>
        </p>
        <p>
          <label for="lunchmoney">Lunch Money</label>
          <%= current_user.lunch_money %>
        </p>
        <p>
          <label for="twitter_username">Twitter Username</label>
          <%= current_user.twitter_username.presence || 'Not set' %>
        </p>
        <p>
          <label for="discord_username">Discord Username</label>
          <%= current_user.discord_username.presence || 'Not set' %>
        </p>
        <p>
          <label for="public_profile">Create a Public Profile?</label>
          <%= current_user.public_profile ? 'Yes' : 'No' %>
          <br />
            <a href="<%= public_profile_path(current_user.username) %>"
                target="_blank" class="public-profile-link">View</a> and
            <a href="<%= profile_tweet_url(current_user) %>"
               target="_blank" class="tweet-button">
              <img src="<%= asset_url('tweet.webp') %>"
                   alt="Tweet" width="62" height="20">
            </a>
            your profile

        </p>
        <p>
          <%= link_to 'Edit', edit_profile_path, class: 'button' %>
        </p>
      </fieldset>
    </div>
  <% end %>
</div>
